* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  ;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  height: 40px;
  display: flex;
  align-items: center;
  background: #313131;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-logo {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
  color: #fff;
  font-size: 10px;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone {
  margin-right: 11px;
}

.delivery {
  margin-right: 11px;
  margin-left: 30px;
}

.span {
  margin-right: 30px;
}

.header-content {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.serch img {
  margin-right: 20px;
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.serch {
  border: 1px solid #e6e6e6;
  width: 839px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.serch input {
  outline: none;
  border: 0;
}

.loop-content {
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 1140px;
  height: 70px;
  flex-shrink: 0;
  background: #fff;
  justify-content: space-between;
  padding: 20px 40px;
  /* menu-shadow */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.red {
  color: #d74444;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loop-content a img {
  cursor: pointer;
  margin-right: 10px;
}

.back {
  height: 100vh;
  background-image: url(/img/1785\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 30px;
}

.text-h1 {
  color: #3C3C3C;
  font-family: Playfair Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 105.3%;
  /* 52.65px */
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 100px 804px 0 120px;
}

.text-p {
  color: #343434;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.8%;
  /* 22.528px */
  letter-spacing: 0.32px;
  padding: 15px 739px 0 121px;
}

.back-btn {
  width: 163px;
  height: 45px;
  flex-shrink: 0;
  background: #FFF;
  /* menu-shadow */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  color: var(--text-color, #414141);
  font-family: Roboto Condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.8%;
  /* 16.896px */
  letter-spacing: 0.48px;
  border: 0;
  margin: 20px 857px 0px 120px;
  cursor: pointer;
}

.pradukt-text-p1 {
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -150px;
}

.card {
  padding-top: 74px;
  width: 263px;
  /* height: 488px; */
  background: #FFF;
}

.card-header {
  width: 200px;
  height: 150px;
  background-color: red;
  margin: 0 auto;

}

.card-header img {
  width: 100%;
  transition: 0.4s;
}

.card-header img:hover {
  transform: scale(1.2);
}

.card-body {
  padding: 54px 20px 0;
}

.card-title {
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-name {
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
}

.card-price {
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 9px;
}

.card-footer {
  padding: 15px 20px 17px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.card:hover .card-footer {
  visibility: visible;
  opacity: 1;
}

.card:hover {
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.11);

}

.card-size {
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;  
}

.card-item-title {
  color: #C4C4C4;
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-item-size {
  color: var(--text-color, #414141);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
}

.card-btn {
  color: #FFF;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px;
  border: 0;
  outline: none;
  background: var(--main-color, #245462);
  width: 100%;
  margin-top: 17px;
}
.product-row{
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
}